<h1><%= @actor.full_name %></h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <tr>
    <td><%= @actor.phone %></td>
    <td><%= @actor.email %></td>
  </tr>
</table>

<br>
<%= link_to "Edit", edit_actor_path(@actor) %> |
<%= link_to "Remove", actor_path, method: :delete %>
