<h1><%= @musical.name %></h1>

<p><strong>Year:</strong> <%= @musical.year %></p>

<h3>Song List</h3>
<table border="1">
  <tr>
    <th colspan="3">Name</th>
  </tr>

  <% @songs.each do |song| %>
    <tr>
      <td><%= song.name %></td>
      <td><%= link_to "Edit", edit_musical_song_path(@musical, song) %></td>
      <td><%= link_to "Delete", musical_song_path(@musical, song), method: :delete %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to "Add Song", new_musical_song_path(@musical) %> |
<%= link_to "Edit", edit_musical_path(@musical) %> |
<%= link_to "Remove", musical_path, method: :delete %>
